.project_container{
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 20px;
  transition: margin .3s;
}
.project_container:hover{
  margin-top: -15px;
}
.project_container img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  object-fit: fill;
}
.project_name{
  text-align: center;
  color: #A6A6A6;
  padding: 5px 0px;
}
.project_languages{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px 3px;
}
.project_languages p{
  font-size: 12px;
  background-color: #2B2B2B;
  color: #A6A6A6;
  padding: 3px 10px;
  border-radius: 50px;
}