.container {
  width: 80%;
  margin: 0px auto;
  color: black;
  padding: 70px 0px;
}
.heading {
  font-size: 2rem;
  text-align: center;
}
.projects_grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
