.container {
  width: min(90%, 93.75rem);
  margin-inline: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 20px;
}
.my_image {
  width: 90%;
}
.info {
  padding-left: 1.2rem;
}
.info p {
  font-size: 1.2rem;
}
.info h1 {
  font-size: 5.5rem;
  padding: 5px 0px;
}
.info a {
  margin-top: 30px;
  background-color: white;
  outline: none;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  border: 1px solid black;
  transition: background .5s, color .5s;
  text-decoration: none;
  color: black;
  display: inline-block;
}
.info a:hover {
  background-color: black;
  color: white;
}
