.buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.buttons .btn{
    background-color: #2C2C2C;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 20px 0px;
}
.buttons .btn:hover{
    background-color: #4d4d4d;
    color: #fff;
}
.buttons .btn_active{
    background-color: #fff;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 20px 0px;
}