.container{
    background: #000;
}
.wrapper{
    width: min(90%, 93.75rem);
    margin-inline: auto;
    padding: 70px 0px;
    color: white;
}
.infos_container{
    height: 500px;
    display: grid;
    grid-template-columns: 200px 1px auto;
    column-gap: 50px;
}
.border{
    background-color: aliceblue;
}
.buttons_wrapper{
    align-self: center;
}
.info{
    align-self: center;
}


@media only screen and (max-width: 1400px){
    .infos_container{
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .border{
        display: none;
    }
}