.container{
    background: #000;
}
.wrapper{
    width: min(90%, 93.75rem);
    margin-inline: auto;
    padding: 70px 0px;
    color: white;
}
.heading{
    font-size: 2rem;
    text-align: center;
}
.infos_container{
    margin-top: 50px;
    height: 500px;
    display: grid;
    grid-template-columns: 200px 1px auto;
    column-gap: 50px;
}
.border{
    background-color: aliceblue;
}
.buttons_wrapper{
    align-self: center;
}
.info{
    align-self: center;
}