.container{
    background: #000;
}
.wrapper{
    width: 80%;
    margin: 0px auto;
    color: white;
    padding: 70px 0px;
}
.heading{
    font-size: 2rem;
    text-align: center;
}
.info_container{
    background-color: white;
    height: 500px;
}
.info_wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px;
}