.container{
    background: #000;
}
.wrapper{
    width: 80%;
    margin: 0px auto;
    color: white;
    padding: 70px 0px;
}
.heading{
    font-size: 2rem;
    text-align: center;
}
.infos_container{
    margin-top: 50px;
    height: 500px;
    display: grid;
    grid-template-columns: 200px 1px auto;
    column-gap: 50px;
}
.border{
    background-color: aliceblue;
}
.info{
    align-self: center;
}