.container{
    background: #000;
}
.wrapper{
    width: 80%;
    margin: 0px auto;
    color: white;
    padding: 70px 0px;
}
.heading{
    font-size: 2rem;
    text-align: center;
}
.images_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}
.images_grid img{
    width: 90%;
    height: 500px;
    justify-self: center;
}