.container {
  position: fixed;
  width: 100%;
  padding: 30px 0px;
  transition: background .5s, padding .5s;
  z-index: 30;
}
.container_active {
  position: fixed;
  width: 100%;
  background-color: #000;
  padding: 20px 0px;
  color: #fff;
  box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  transition: background .5s, padding .5s;
  z-index: 30;
}
.wrapper {
  width: 1000px;
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_logo {
  height: 30px;
  cursor: pointer;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.links a {
  cursor: pointer;
}
.links a:hover {
  text-decoration: underline;
}
.links img {
  height: 35px;
}


/* mobile navbar */
.mob_nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  padding: 16px 32px;
  background-color: black;

}
.mob_nav_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mob_nav_logo img{
  height: 30px;
}
.mob_nav_hamburger{
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.mob_nav_hamburger span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: white;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
.mob_nav_hamburger.is_active span:nth-child(1){
  transform: translate(0px, 2px) rotate(45deg);
}
.mob_nav_hamburger.is_active span:nth-child(2){
  opacity: 0;
  transform: translateX(15px);
}
.mob_nav_hamburger.is_active span:nth-child(3){
  transform: translate(-3px, 3px) rotate(-45deg);
}
.mob_nav_link{
  position: fixed;
  top: 65px;
  left: -100%;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  transition: all .5s;
}
.mob_nav_link.is_active{
  left: 0;
}
.mob_nav_link a{
  display: block;
  cursor: pointer;
  margin-top: 50px;
}