.nav_container{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 100%;
    top: 0;
}
.nav_wrapper{
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_logo{
    height: 30px;
}
.links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    column-gap: 5px;
}
.links a{
    color: #fff;
    cursor: pointer;
}
.links a:hover{
    text-decoration: underline;
}