.container {
  position: fixed;
  width: 100%;
  padding: 30px 0px;
  transition: background .5s, padding .5s;
  z-index: 30;
}
.container_active {
  position: fixed;
  width: 100%;
  background-color: #000;
  padding: 20px 0px;
  color: #fff;
  box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  transition: background .5s, padding .5s;
}
.wrapper {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_logo {
  height: 30px;
  cursor: pointer;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.links a {
  cursor: pointer;
}
.links a:hover {
  text-decoration: underline;
}
.links img {
  height: 35px;
}
