.hobbies__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    width: 750px;
    margin: 0px auto;
    padding-top: 80px;
}
.hobbies__grid p{
    color: #000;
    font-size: 30px;
}