.info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 50px;
}
.info p{
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;
}
.info img{
    width: 450px;
    height: 400px;
    object-fit: cover;
}