@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(68, 68, 68);
}
::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: rgb(153, 153, 153);
}